# Format Style Options - Created with Clang Power Tools
---
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: Right
AllowAllConstructorInitializersOnNextLine: true
AllowShortFunctionsOnASingleLine: All
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: Microsoft
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
NamespaceIndentation: All
PointerAlignment: Left
...
